<%= button_to 'Join group', action: :join unless can_see_group?(@group)%>
<% if can_see_group? @group %>
  <% @group.polls.each do |poll| %>
    <%= poll.title %>
    <div class="btn-group">
      <%= button_to 'Accept', {controller: 'polls', action: 'vote_for', id: poll.id}, {class: "btn"} %>
      <%= button_to 'Refuse', {controller: 'polls', action: 'vote_against', id: poll.id}, {class: "btn"} %>
    </div>
  <% end %>
<% end %>
