<table id="calendar-day-view" border='1'>
  <% 24.times do |i| %>
    <tr>
      <td id='time-td'><%= i %>:00</td>
      <td id='event-td'></td>
    </tr>
  <% end  %>

  <% for event in @events do %>
    <% top = (event.from.strftime("%H").to_i * 60) + event.from.strftime("%M").to_i + 88 %>
    <% height = ((event.to - event.from)/1.hour) * 60 %>
    <% height = 30 if height == 0 %>
    <%= content_tag :div, class: "event", style: "top:"+top.to_s+"px; height:"+height.to_s+"px;" do -%>
      <p><%= event.title %></p>
    <% end -%>
  <% end %>
</table>

